* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efe0df;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3em;
  border-radius: 17px;
  box-shadow: -15px 10px 28px 5px rgba(170, 170, 170, 0.51);
  color: white;
  height: 300px;
  width: 40%;
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 2px 1px 3px rgba(149, 150, 150, 0.77);
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

.container p {
    text-align: center;
    padding: 1em;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 14em ;
  color: gray;
}
